@import url("reset.css");

html, body {
  height: 100%;
}

.login-card-logo {
  margin-bottom: 2rem;
}

.login-card-logo img {
  width: 400px;
}

a{
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin: 0.25rem 0;
  background: rgba(255, 255, 255, .3);
  transition: background .5s;
}
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #ff8800, #7c2e00);
  color: white;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font: 100%/1.4 system-ui;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 370px;
	width: 280px;
	overflow-y: scroll;
	margin-bottom: 25px;
}


 #scrollbar-1::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
 }
 
 #scrollbar-1::-webkit-scrollbar
 {
   width: 10px;
 }
 
 #scrollbar-1::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-image: -webkit-gradient(linear,
                      left bottom,
                      left top,
                      color-stop(0.44, #F2A922),
                      color-stop(0.72, #F2BD1D),
                      color-stop(0.86, #F2A922));
  }
 
.floating-stack {
  top: 10px;
  width: 450px;
  background: rgba(255, 255, 255, .5);
  padding: 4rem;
  border-radius: 10px;
  position: relative;
  }
  .logo {
    margin-bottom: 2rem;
  }

  .logo img {
    width: 400px;
  }
.login-card-logo{
    text-align: center;
  }
.floating-stack::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-6deg);
    border-radius: 10px;
    z-index: -1;
  }
  .floating-stack > dl {
    margin: 0 0 1rem;
    display: grid;
    align-items: center;
  }
  
  .floating-stack dt {
  position: sticky;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: bold;
  color: #cfd8dc;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  padding: 0.25rem 1rem;
  grid-column: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  }
  
  .floating-stack dd {
  grid-column: 2;
  margin: 0;
  padding: 10.75rem;
  }
  
  .floating-stack a {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin: 0.25rem 0;
  background: rgba(255, 255, 255, .3);
  transition: background .5s;
  }
  
  .floating-stack a:hover {
    background: white;
  }
.floating-stack dt {
  position: sticky;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: bold;
  color: #cfd8dc;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  padding: 0.25rem 1rem;
  grid-column: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.floating-stack dd {
  grid-column: 2;
  margin: 0;
  padding: 0.75rem;
  
}

.floating-stack > dl:first-of-type > dd:first-of-type {
  margin-top: 0.25rem;
}
.list-container {
  height: 480px; 
  overflow: auto; 
}
.button {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-size: 0.8rem;
  background: rgb(31, 31, 31);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: background .5s;
}

.button:hover {
  background: #2b2b2b;
}
.dodajstado {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  z-index: 3px;
}
.informacje {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  z-index: 0px;
}


@media (max-width: 768px) {

  body {
      padding: 2rem 0;
      background-color: transparent !important;
  }

  .login-card {
      width: 280px;
      padding: 2rem;
  }

}

