@import url("reset.css");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #ff8800, #7c2e00);
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 100;
  margin: 0;
  display: grid;
  place-items: center;
  font: 100%/1.4 system-ui;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

a {
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin: 0.25rem 0;
  background: rgba(255, 255, 255, .3);
  transition: background .5s;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; 
}

.table-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  max-width: 100%;
}

.table-wrapper {
  width: 800px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 3; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead th {
  background-color: #fafafa83;
}

tbody tr.highlights {
  background-color: red;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.floating-stack {
  width: 450px;
  background: rgba(255, 255, 255, .5);
  padding: 4rem;
  border-radius: 10px;
  position: relative;
  z-index: 3; 
}

.powrot {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 16px;
  z-index: 3; 
}

.wyloguj {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 16px;
  z-index: 3; 
}

.upadek {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  z-index: 3; 
}

.pasza {
  position: fixed;
  bottom: 0;
  right: 18%;
  transform: translateX(-50%);
  padding: 10px 20px;
  z-index: 3; 
}

.informacje {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  z-index: 0; 
}

.informacje a {
  color: #333333;
  text-decoration: none;
}


@media only screen and (max-width: 600px) {
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
}
